.list-group-item {
  padding: 10px;
  width: 100%;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  box-sizing: border-box;
}

.task-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.date-badge {
  flex-shrink: 0;
  white-space: nowrap;
  margin-left: 5px;
}

.summary {
  flex: 1;
}

.tags-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags-container .badge {
  white-space: nowrap;
  margin-right: 5px;
}

.project-badge {
  margin-left: 10px;
  white-space: nowrap;
  margin-right: 10px;
}
